/* welcome text styling */
.welcome_message {
    padding: 10px;
}

.welcome_message p {
    color: #d5c8af;
    font-family: Catamaran;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

@media only screen and (min-width: 768px) {
    .welcome_message p {
        font-size: 35px;
        line-height: 65px;
    }
}