body {
    background-image: url('https://res.cloudinary.com/emicha/image/upload/v1585843371/DevilsQuest/arena_hj0x3j.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}